.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 2px solid rgb(253, 246, 246);
}
/* LEFT */
.header-left {
  display: flex;
  align-items: center;
}

/* SEARCH */
.search-box {
  position: relative;
}

.search-box input {
  width: 260px;
  padding: 10px 36px 10px 14px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  outline: none;
  font-size: 14px;
}

.search-box i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  font-size: 14px;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-icon {
  font-size: 18px;
  color: #374151;
  cursor: pointer;
}

.header-icon:hover {
  color: #4f46e5;
}
